<div class="l-page l-page--screen bg-banner">
    <div class="container">
        <div class="l-page__header">
            <div class="row">
                <div class="col">
                    <app-logo [type]="'header-logo'" ></app-logo>
                </div>
            </div>
        </div>

        <div class="l-page__content">
            <div class="row">
                <div *ngIf="isEmail" class="col-auto mx-auto">
                    <div class="card card--onboarding rounded-0">
                        <div class="card-body">
                            <h1 class="text-primary text-center h2 mb-5 font-thin strong"> Reset Password </h1>
                            <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="onResetPassword(resetPasswordForm.value, resetPasswordForm.valid)">
                                <div class="m-form__fields form-content">
                                    <div class="input-group">
                                        <input type="password" class="form-control form-control-lg input-underline input-lg" formControlName="password" required placeholder="Password" validateEqual="confirmPassword" reverse="true">
                                        <div class="input-group-addon"><i class="kk-icon kk-icon--key"></i></div>
                                        <p [hidden]="resetPasswordForm.controls.password.valid || (resetPasswordForm.controls.password.pristine && !submitted)"class="w-100">
                                            <small  class="text-danger">
                                                Password is required.
                                            </small>
                                        </p>  
                                    </div>
                                    <div class="input-group">
                                        <input type="password" class="form-control form-control-lg input-underline input-lg" formControlName="confirmPassword" required placeholder="Confirm Password"  validateEqual="password" required>
                                        <div class="input-group-addon"><i class="kk-icon kk-icon--key"></i></div>
                                        <p [hidden]="resetPasswordForm.controls.confirmPassword.valid || (resetPasswordForm.controls.confirmPassword.pristine && !submitted)" class="w-100">
                                            <small class="text-danger">
                                                Password mismatch.
                                            </small>
                                        </p>  
                                    </div>
                                </div>
                                <button type="submit" [disabled]="loading" class="btn btn-primary btn-block btn-round btn-lg">Update Password</button>
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                &nbsp;
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
