.navbar-brand {
    font-weight: bold;
    background: url(/assets/images/logo-transparent.png) no-repeat;
    background-size: 32px 32px;
    background-position: center left;
    padding-left: 40px;
}