
<div *ngIf="onlineTest" class="content {{animationClass}}" >
    <div *ngIf="testSummaryStatus" class="test-summary">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <i class="fa fa-dashboard"></i> <a href="Javascript:void(0)" [routerLink]="['/test']">Tests</a>
            </li>
            <li class="breadcrumb-item active"><i class="fa {{icon}}"></i> {{onlineTest.name}} </li>
        </ol>
        <!-- <div class="row">
            <div class="col-12">
                <a (click)="goBack()" class="text-primary cursor-pointer f-18">
                    <i class="fa fa-angle-left f-24"></i> Back
                </a>
            </div>
        </div> -->
        <div class="row">
            <div class="col-12 col-md-7">
                <h5 class="mt-3" >
                    <a class="btn btn-default d-md-none" style="visibility:hidden" ngbDropdown>
                        <i class="fa fa-ellipsis-v" ngbDropdownToggle>&nbsp;</i>                   
                        <div class="dropdown-menu" >                      
                            <a class="dropdown-item" href="javascript:void(0)" (click)="openInviteCandidateModal()">
								<div _ngcontent-c9="" class="kk-icon kk-icon--md kk-icon--invite line-height-icon"></div>
								<span class="align-middle">Get Embed URL</span>
							</a>
                            <hr/>
							<a class="dropdown-item text-primary" href="javascript:void(0)"  (click)="previewTest()">
								<div _ngcontent-c9="" class="kk-icon kk-icon--md kk-icon--preview line-height-icon"></div>
								<span class="align-middle">Preview</span>
							</a>
                            <hr/>
							<a class="dropdown-item" href="javascript:void(0)"  [routerLink]="['/test/edit', onlineTest.id, 'basic']">
								<div _ngcontent-c9="" class="kk-icon kk-icon--md kk-icon--edit line-height-icon"></div>
								<span class="align-middle">Edit</span>
							</a>
                            <hr/>
							<a class="dropdown-item" href="javascript:void(0)"  (click)="onDelete(onlineTest.id)">							
								<div _ngcontent-c9="" class="kk-icon kk-icon--md kk-icon--delete line-height-icon"></div>
								<span class="align-middle">Delete</span>
							</a>                        
						</div>
					</a>
                {{onlineTest.name}}</h5>
            </div>
            <div class="col">
            </div>
            <div class="col-auto">
                <ul class="list-inline action-list mt-2 mb-0" style="display:flex">
                    <li class="list-inline-item text-center text-primary">
                        <a class="action-list-item" (click)="openInviteCandidateModal()">
                            <div class="kk-icon kk-icon--md kk-icon--invite line-height-icon">
                            </div>
                            <br/>
                            <span class="small">Get Embed URL</span>
                        </a>
                    </li>
                    <li class="list-inline-item text-center text-primary d-none d-md-block">
                        <a class="action-list-item text-primary" (click)="previewTest()" >
                            <div class="kk-icon kk-icon--md kk-icon--preview line-height-icon">
                            </div> <br/>   
                            <span class="small">Preview</span>               
                        </a>
                    </li>
                    <li class="list-inline-item text-center text-primary d-md-none">
                        <a class="action-list-item text-primary" (click)="previewTest()" >
                            <div class="kk-icon kk-icon--md kk-icon--preview line-height-icon">
                            </div> <br/>   
                            <span class="small">Preview</span>               
                        </a>
                    </li>					
                    <!-- <li class="list-inline-item text-center text-primary">
                        <a class="action-list-item" (click)="openCloneTestModal()" >
                            <i class="kk-icon kk-icon--md kk-icon--clone"></i><br/>
                            <small>Clone</small>  
                        </a>
                    </li> -->
                    <li class="list-inline-item text-center text-primary">
                        <a class="action-list-item" [routerLink]="['/test/edit', onlineTest.id, 'basic']">
                            <div class="kk-icon kk-icon--md kk-icon--edit line-height-icon">
                            </div><br/>
                            <span class="small">Edit</span>
                        </a>
                    </li>
                    <li class="list-inline-item text-center text-primary">
                        <a class="action-list-item" (click)="onDelete(onlineTest.id)">
                            <div class="kk-icon kk-icon--md kk-icon--delete line-height-icon">
                            </div><br/>
                            <span class="small d-block">Delete</span>                           
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-12 col-md-5 d-none d-md-block">
                        <div class="row">                 
                        <div class="col-6  mb-2">
                            Level:
                        </div>
                        <div class="col-6  mb-2">
                            <strong>{{onlineTest.testLevel}}</strong>
                        </div>
                        <div class="col-6  mb-2">
                            Language:
                        </div>
                        <div class="col-6  mb-2 text-uppercase">
                            <strong>{{onlineTest.category}} Test</strong>
                        </div>                        
                        <div class="col-6 mb-2">
                                Created:
                        </div>
                        <div class="col-6  mb-2">
                            <strong>{{onlineTest.created | date:'medium'}} </strong>
                        </div>
                        <div class="col-6 mb-2">
                            Updated:
                        </div>
                        <div class="col-6  mb-2">
                            <strong>{{onlineTest.updated | date:'medium'}}</strong>
                        </div>
                        </div>
                    </div>
					<div id="testdescmobile" style="border-bottom: 1px solid silver;padding-left:7%;padding-bottom: 5%;" class="col-12 col-md-5 d-md-none">
                        <div class="row">
                        <div class="col-6 mb-2">
                            Duration:
                        </div>
                        <div class="col-6  mb-2">
                            <strong>{{onlineTest.durationHours}} hours, {{onlineTest.durationMins}} mins</strong>
                        </div>
                        <div class="col-6  mb-2">
                            Level:
                        </div>
                        <div class="col-6  mb-2">
                            <strong>{{onlineTest.testLevel}}</strong>
                        </div>
                        <div class="col-6  mb-2">
                            Category:
                        </div>
                        <div class="col-6  mb-2 text-uppercase">
                            <strong>{{onlineTest.category}} Test</strong>
                        </div>
                        <div class="col-6  mb-2">
                            Environment:
                        </div>
                        <div class="col-6  mb-2">
                            <strong>{{onlineTest.envName}}</strong>
                        </div>
                        <div class="col-6  mb-2">
                            Screen Recording:
                        </div>
                        <div class="col-6  mb-2">
                            <strong>{{onlineTest.enableScreenRecording ? 'Enabled' : 'Disabled'}}</strong>
                        </div>
                        
                        <div class="col-6 mb-2">
                                Created:
                        </div>
                        <div class="col-6  mb-2">
                            <strong>{{onlineTest.created | date:'medium'}} </strong>
                        </div>
                        <div class="col-6 mb-2">
                            Updated:
                        </div>
                        <div class="col-6  mb-2">
                            <strong>{{onlineTest.updated | date:'medium'}}</strong>
                        </div>
                        </div>
                    </div>
                
                </div>
                
                <hr/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ngb-tabset #t="ngbTabset">
            <ngb-tab title="Challenge Details" id="test-description">
                <ng-template ngbTabContent>
                    <div class="pull-right" style="margin-right: 5.67%;">
                        <div *ngIf="onlineTest.codingTestImage" class="form-group">
                            <label class="strong">Image</label><br/>
                            <img width="300" class="cursor-pointer" [src]="onlineTest.codingTestImage" (click)="openModal(previewSnapshot, {size: 'lg' })"/>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label class="strong">Title</label>
                            <div [innerHTML]="onlineTest.name"></div>
                        </div>
                        <div class="form-group">
                            <label class="strong">Problem Definition</label>
                            <div [innerHTML]="onlineTest.problemDefination"></div>
                        </div>
                        <div class="form-group">
                            <label class="strong" *ngIf="onlineTest.hints">Hints</label>
                            <div *ngIf="onlineTest.hints" [innerHTML]="onlineTest.hints"></div>
                        </div>
                        <div class="form-group">
                            <label class="strong" *ngIf="onlineTest.otherNotes">Other Notes</label>
                            <div *ngIf="onlineTest.otherNotes" [innerHTML]="onlineTest.otherNotes"></div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
      
           
            <ngb-tab title="Result for {{onlineTest.name}}" id="candidates"> 
                <ng-template ngbTabContent>
                    <div *ngIf="onlineTest['candidates']" class="candidate-list-wrapper">
                        <onlinetest-candidiates-view
                        [actualCandidates]="onlineTest['candidates']"
                        [testOnline]="onlineTest"
                        [filter]="candidateFilter"
                        (onInitialized)="ifCandidatePanelOpen($event)"
                        (onDestroyed)="ifCandidatePanelClosed($event)"
                        (onResendInvite)="ifResendInvite($event)">
                        </onlinetest-candidiates-view>
                    </div>
                </ng-template>
            </ngb-tab>
            </ngb-tabset>
            
        </div>
    </div>
   
</div>
<div *ngIf="!onlineTest" class="no-content {{animationClass}} " >
      <div class="container mt-80">
        <div class="row align-items-center">
            <div class="col-6 mx-auto">
                <div class="jumbotron text-center">
                    <i class="kk-icon kk-icon--empty"></i>
                    <p class="f-24 strong font-thin">Theres no Test Found.</p>
                    <p><a class="border-bottom text-primary cursor-pointer strong" (click)="resetFilter()">Click here</a> to reset all the search filters.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #cloneTestModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    <form>
      <div class="form-row align-items-center my-6 mx-3">
        <div class="col">
          <label class="sr-only" for="inlineFormInputGroup">Name:</label>
          <div class="input-group">
            <input #cloneName type="text" class="form-control bg-graey input-round" id="inlineFormInputGroup" placeholder="Clone of {{onlineTest.name}}">
          </div>
        </div>
        <div class="col-auto">
          <button (click)="clone(cloneName)" type="submit" class="btn btn-sm btn-primary">Clone</button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="c('Close click')">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #launchMachineModal let-c="close" let-d="dismiss">
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #previewonMobile let-c="close" let-d="dismiss">
<div class="modal-header">Oops!</div>
  <div class="modal-body">
    Previewing a test needs a desktop or laptop.
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<ng-template #previewSnapshot let-c="close" let-d="dismiss">
    <div class="modal-body">
        <a [href]="onlineTest.codingTestImage" class="relative cursor" target="_blank">
            <img width="100%" [src]="onlineTest.codingTestImage" />
        </a>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #inviteCandidateModal let-c="close" let-d="dismiss">
    <div class="modal-header strong">
        Invite Candidates for {{onlineTest.name}}
        <button type="button" class="close" (click)="c('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <onlinetest-candidiates-form [testOnline]="onlineTest" (onCandidateInvite)="ifCandidateInvite($event)" (onwidgetClosed)="clearInviteCandidate(event)"></onlinetest-candidiates-form>
    </div>
</ng-template>

<div *ngIf="loading" class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
</div>
