.list-inline-item {
	cursor: pointer;
}

.progress {
	height: 10px;
}

.h-100vh {
	height: 100vh;
}

.line-height-icon {
	line-height: 16px;
}

.z-99 {
	z-index: 99;
}
div#testdescmobile .col-6 {
flex:50%;
}
.test-summary{
margin-top:84px;
}