<div class="l-page l-page--screen bg-banner">
    <div class="container">
        <div class="l-page__header">
            <div class="row">
                <div class="col">
                    <app-logo [type]="'header-logo'" ></app-logo>
                </div>
            </div>
        </div>

        <div class="l-page__content">
            <div class="row">
                <div class="col-auto mx-auto">
                    <div class="card card--onboarding rounded-0">
                        <div class="card-body">
                            <h1 class="text-primary text-center h2 mb-5 font-thin strong"> Sign In</h1>
                            <form class="m-form" [formGroup]="loginForm" novalidate (ngSubmit)="onLoggedin(loginForm.value, loginForm.valid)">
                                <div class="form-content">
                                    <div class="m-form__fields">
                                        <div class="input-group">
                                            <input type="text" formControlName="email" class="form-control form-control-lg input-underline input-lg" id="" placeholder="Email" required pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$'>
                                            <div class="input-group-addon"><i class="kk-icon kk-icon--mail"></i></div>
                                            <p [hidden]="loginForm.controls.email.valid || (loginForm.controls.email.pristine && !submitted)" class="w-100">
                                                <small class="text-danger">
                                                    Email is not valid.
                                                </small>  
                                            </p>
                                        </div>
                                        <div class="input-group">
                                            <input type="password" class="form-control form-control-lg input-underline input-lg" formControlName="password" required placeholder="Password" required/>
                                            <div class="input-group-addon"><i class="kk-icon kk-icon--key"></i></div>
                                            <p [hidden]="loginForm.controls.password.valid || (loginForm.controls.password.pristine && !submitted)" class="w-100">
                                                <small class="text-danger">
                                                    Password should be minimum 4 characters in length.
                                                </small> 
                                            </p>
                                        </div>
                                        <div class="text-right mb-5">
                                            <a class="text-underline " [routerLink]="['/forgot-password']">forgot password?</a>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" [disabled]="loading" class="btn btn-block btn-lg btn-primary btn-round mb-4">Sign In
                                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                </button>
                                

                                <p class="text-center">
                                    <span class="text-default">Dont have an account? <a [routerLink]="['/signup']">Sign Up</a></span>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
