<div class="card">
    <div class="card-body">
        <form #basicDataForm="ngForm" *ngIf="!loading" class="m-form editForm" novalidate>
            <div class="tab-pane active">
                <div class="m-form__fields">
                    <div class="form-group">
                        <label class="control-label" for="testname">Challenge Title</label>  
                        <input class="form-control input-md" #testname="ngModel" required id="testname" name="testname" type="text" placeholder="Challenge Title" [(ngModel)]="basicData.name">   
                        <!-- <div class="alert alert-danger" [hidden]="testname.valid">Title is required</div> -->
						 <div *ngIf="testname.invalid && (testname.dirty || testname.touched)" class="alert alert-danger">
							<div *ngIf="testname.errors.required">
							Title is required.
							</div>
						</div> 
                    </div>					
              
  

                    <div class="form-group">
                        <label class="control-label" for="category">Language</label>
                        <select #category="ngModel" [(ngModel)]="basicData.category" required name="category" class="form-control" placeholder="Category">
                            <option disabled="disabled" selected [ngValue]="null" >Category</option>
                            <option *ngFor="let category of categoryData" [ngValue]="category.key">
                             {{ category.value }}
                            </option>
                        </select>
                        <div class="description text-primary">Select the programming framework the test is based on.</div>
                       	 <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
							<div *ngIf="category.errors.required">
							Language is required.
							</div>
						</div> 
                    </div>
					<div  class="form-group">
                        <label class="control-label" for="testname">GITHUB URL OF CODE</label>  
                        <input class="form-control input-md" #GitHubUrl="ngModel" required id="GitHubUrl" name="GitHubUrl" type="text" placeholder="GitHub URL" [(ngModel)]="basicData.GitHubUrl"
						 pattern='^(https\:\/\/github.com\/\w+\/\w+)$'
						>   
                        <div *ngIf="GitHubUrl.invalid && (GitHubUrl.dirty || GitHubUrl.touched)" class="alert alert-danger">
							<div *ngIf="GitHubUrl.errors.required">
							Github url required.
							</div>
							<div *ngIf="GitHubUrl.errors.pattern">
							Github url is invalid.
							</div>
						</div> 
						
						<div class="description text-primary">Enter a valid Github url eg: "https://github.com/infoprogrammr/pythonaddition"<br>
						</div>
                    </div>	
            <div class="form-group question-wrapper">
                        <label class="control-label" for="description">Problem Definition</label>  
                         <editor #description="ngModel" required minlength="200" apiKey="mec38rz45k52q9tfsmozwsd6zszgigbvq9hi6twzics7184w" initialValue={{basicData.problemDefination}} name="problemDefination" [(ngModel)]="basicData.problemDefination"></editor>
                        <!--input class="form-control input-md" #description="ngModel"  id="description" name="description" type="text" placeholder="Description" [(ngModel)]="questionData.description"-->
                        <div class="alert alert-danger" *ngIf="description.errors?.required">Problem definition is required</div>
                        <div class="alert alert-danger" *ngIf="description.errors?.minlength">Minimum character count required: {{ description.errors.minlength.actualLength }} / {{ description.errors.minlength.requiredLength }}.</div>
                    </div>          			
                  	
    
                    <!-- <div  class="form-group">
                        <label class="control-label" for="testname">GITHUB URL OF PROJECT</label>  
                        <input class="form-control input-md" #GitHubUrl="ngModel" required id="GitHubUrl" name="GitHubUrl" type="text" placeholder="GitHub URL" [(ngModel)]="basicData.GitHubUrl">   
                        <div class="alert alert-danger" [hidden]="GitHubUrl.valid">Github url is required</div>
                    </div>					 -->
               
                </div>

                <div class="m-form__actions">
                    
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-outline-primary" (click)="onCancel()"> Cancel </button>
                        <button type="button" class="btn btn-primary" [disabled]="!basicDataForm.valid" (click)="goToNext(basicDataForm)"> {{this.formDataService.getMode() === 'EDIT' ? 'Update' : 'Next'}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
