<div class="card">
    <div class="card-body">
        <form #basicDataForm="ngForm" *ngIf="!loading" class="m-form editForm" novalidate>
            <div class="tab-pane active">
                <div class="m-form__fields">
                    <div class="form-group">
                        <label class="control-label" for="testname">Challenge Title</label>  
                        <input class="form-control input-md" #testname="ngModel" required id="testname" name="testname" type="text" placeholder="Challenge Title" [(ngModel)]="basicData.name">   
                        <!-- <div class="alert alert-danger" [hidden]="testname.valid">Title is required</div> -->
						 <div *ngIf="testname.invalid && (testname.dirty || testname.touched)" class="alert alert-danger">
							<div *ngIf="testname.errors.required">
							Title is required.
							</div>
						</div> 
                    </div>					
              
  
                    <div class="form-group">
                        <label class="control-label" for="testLevel">Level</label><br/>
                        <div class="form-check form-check-inline icons-option mr-80">
                            <label class="text-center">
                                <input id="junior" type="radio" #testLevel="ngModel" required name="testLevel" [(ngModel)]="basicData.testLevel" value="junior">
                                <label class="radio-option junior" for="junior"></label><br/>
                                Low
                            </label>
                        </div>
                        <div class="form-check form-check-inline icons-option mr-80">
                            <label class="text-center">
                                <input id="middle" type="radio" #testLevel="ngModel" required name="testLevel" [(ngModel)]="basicData.testLevel" value="middle">
                                <label class="radio-option middle" for="middle"></label><br/>
                                Medium
                            </label>
                        </div>
                        <div class="form-check form-check-inline icons-option">
                            <label class="text-center">
                                <input id="senior" type="radio" #testLevel="ngModel" required name="testLevel" [(ngModel)]="basicData.testLevel" value="senior">
                                <label class="radio-option senior" for="senior"></label><br/>
                                High
                            </label>
                        </div>
                        <div class="description text-primary"> Junior is generally for 0-2 years of experience, Middle is 2-5 years, Senior is 5+ years.</div>
                        <div class="alert alert-danger" [hidden]="testLevel.valid">Online Test Level is required and must be valid</div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="category">Language</label>
                        <select #category="ngModel" [(ngModel)]="basicData.category" required name="category" class="form-control" placeholder="Category">
                            <option disabled="disabled" selected [ngValue]="null" >Category</option>
                            <option *ngFor="let category of categoryData" [ngValue]="category.key">
                             {{ category.value }}
                            </option>
                        </select>
                        <div class="description text-primary">Select the programming framework the test is based on.</div>
                       	 <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
							<div *ngIf="category.errors.required">
							Language is required.
							</div>
						</div> 
                    </div>
					<div  class="form-group">
                        <label class="control-label" for="testname">GITHUB URL OF CODE</label>  
                        <input class="form-control input-md" #GitHubUrl="ngModel" required id="GitHubUrl" name="GitHubUrl" type="text" placeholder="GitHub URL" [(ngModel)]="basicData.GitHubUrl"
						 pattern='^(https\:\/\/github.com\/\w+\/\w+)$'
						>   
                        <div *ngIf="GitHubUrl.invalid && (GitHubUrl.dirty || GitHubUrl.touched)" class="alert alert-danger">
							<div *ngIf="GitHubUrl.errors.required">
							Github url required.
							</div>
							<div *ngIf="GitHubUrl.errors.pattern">
							Github url is invalid.
							</div>
						</div> 
						
						<div class="description">Enter a valid Github url eg: "https://github.com/infoprogrammr/pythonaddition"<br>
						</div>
                    </div>	
            <div class="form-group question-wrapper">
                        <label class="control-label" for="description">Problem Definition</label>  
                        <app-tinymce #description="ngModel" required minlength="200"  name="problemDefination" [(ngModel)]="basicData.problemDefination"></app-tinymce>
                        <!--input class="form-control input-md" #description="ngModel"  id="description" name="description" type="text" placeholder="Description" [(ngModel)]="questionData.description"-->
                        <div class="alert alert-danger" *ngIf="description.errors?.required">Problem definition is required</div>
                        <div class="alert alert-danger" *ngIf="description.errors?.minlength">Minimum character count required: {{ description.errors.minlength.actualLength }} / {{ description.errors.minlength.requiredLength }}.</div>
                    </div>          			
                  	
    
                    <!-- <div  class="form-group">
                        <label class="control-label" for="testname">GITHUB URL OF PROJECT</label>  
                        <input class="form-control input-md" #GitHubUrl="ngModel" required id="GitHubUrl" name="GitHubUrl" type="text" placeholder="GitHub URL" [(ngModel)]="basicData.GitHubUrl">   
                        <div class="alert alert-danger" [hidden]="GitHubUrl.valid">Github url is required</div>
                    </div>					 -->
               
                </div>

                <div class="m-form__actions">
                    
                    <div class="form-group text-right">
                        <button type="button" class="btn btn-outline-primary" (click)="onCancel()"> Cancel </button>
                        <button type="button" class="btn btn-primary" [disabled]="!basicDataForm.valid" (click)="goToNext(basicDataForm)"> {{this.formDataService.getMode() === 'EDIT' ? 'Update' : 'Next'}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
