<div class="m-onlinetest-input border">
	<div class="row no-gutters">
		<div class="col-md-10 offset-1">
		  <div class="search-wrapper mt-4 mb-3">
		    <div class="input-group input-group-round">
		      <input [(ngModel)]="queryString"  type="text" class="form-control input-round bg-grey-3" placeholder="Search available tests...">
		      <div class="input-group-addon" ><i class="fa fa-search"></i></div>
		    </div>
			</div>
			<div *ngIf="onlinetests" class="categories">
				<span class="btn btn-small mr-2 text-uppercase"
				[ngClass]="{'btn-success': activeCategory==='all', 'btn-primary':activeCategory!=='all' }"
				(click)="filterTestListData('all')">
					ALL ( <strong>{{ onlinetests.length }}</strong>)
				</span>
				<span *ngFor="let category of foundCategory"
				class="btn btn-small mr-2 text-uppercase"
				[ngClass]="{'btn-success': activeCategory===category.key, 'btn-primary':activeCategory!==category.key }"
				(click)="filterTestListData(category.key)">
					{{ category.key }} ( <strong>{{ category.count }}</strong> )
				</span>
			</div>		  
		</div>
	</div>
	<hr/>
	<div class="row no-gutters">
		<div class="col-md-12 onlinetest-input-wrapper">
			<div *ngIf="loading" class="spinner">
			    <div class="double-bounce1"></div>
			    <div class="double-bounce2"></div>
			</div>

			<div *ngIf="!loading" class="list-group onlinetest-input kk-cards">
			    <div class="list-group-item border-right-0 border-left-0 list-group-item-action flex-column align-items-start position-relative"  
			    *ngFor="let onlinetest of filteredList | searchenvironmentpipe: queryString; index as i" [attr.data-index]="i"
          >
            <div class="row d-flex">
              <div class="col-9">
                  <div class="middlebar__content">
					<div _ngcontent-c12="" class="m-sticker badge {{onlinetest.testLevel === 'junior' ? 'badge-success' : (onlinetest.testLevel === 'middle' ? 'badge-primary' : 'badge-danger')}}"> 
							<div _ngcontent-c12="" class="m-sticker__label">
									<div _ngcontent-c12="" class="m-sticker__label__text">
										{{onlinetest.testLevel}} 
									</div>
							</div>
					</div>
					<div class="d-flex">
						<div class="thumbnail align-self-center mr-16">
								<img *ngIf="!onlinetest.codingTestImage" width="60" src="https://via.placeholder.com/700?text=codig%20test%20thumbail" />
								<img *ngIf="onlinetest.codingTestImage" width="60" [src]="onlinetest.codingTestImage" />
						</div>
						<div class="">
							<div class="category"><small>{{onlinetest.category}}</small></div>
							<div class="d-flex w-100 justify-content-between">
									<strong class="text-info mb-1">{{onlinetest.name}}</strong>
							</div>
							<p class="mb-1">{{returnSanitizedDescription(i)}}</p>
							<div class="btn btn-link badge badge-danger small" (click)="openPreviewTestModal(previewOnlineTestModal, i)">View Details</div>
						</div>
					</div>
                  </div>      
              </div>
              <div class="col-3 justify-content-center align-self-center">
                <button _ngcontent-c12="" class="btn btn-small btn-primary" type="button" (click)="writeValue(onlinetest.id)">
                  <i class="fa fa-check"></i>
                  Use this Test
                </button>
              </div>
            </div>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #previewOnlineTestModal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h3> {{previewOnlineTest.name}} Details: </h3>
		<button type="button" class="close" (click)="c('Close click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="pull-right">
			<!-- <div class="preview-test text-center">
				<button type="button" class="btn btn-primary btn-lg btn-block mb-16" (click)="previewTest()">
					<i class="fa fa-play"></i>
					Quick Preview
				</button>
				<button type="button" class="d-block btn btn-success btn-lg btn-block" (click)="writeValue(previewOnlineTest.id)">
					<i class="fa fa-check"></i>
					Use this Test
				</button>
			</div> -->
			<div *ngIf="previewOnlineTest.codingTestImage" class="form-group">
				<label class="strong">Image</label><br/>
				<img width="300" [src]="previewOnlineTest.codingTestImage" />
			</div>
		</div>
		<div class="form-group f-14">
			<label class="strong">Objective</label>
			<div [innerHTML]="previewOnlineTest.objective"></div>
		</div>
		<div class="form-group f-14">
			<label class="strong">Problem Definition</label>
			<div [innerHTML]="previewOnlineTest.description"></div>
		</div>
		<div class="form-group f-14">
			<label class="strong" *ngIf="previewOnlineTest.hints">Hints</label>
			<div *ngIf="previewOnlineTest.hints" [innerHTML]="previewOnlineTest.hints"></div>
		</div>
		<div class="form-group f-14">
			<label class="strong" *ngIf="previewOnlineTest.otherNotes">Other Notes</label>
			<div *ngIf="previewOnlineTest.otherNotes" [innerHTML]="previewOnlineTest.otherNotes"></div>
		</div>
	</div>
</ng-template>
