<div class="row d-md-none text-center" style="
		background: red;
		color: #fff;
		padding: 3px;
		box-shadow: 2px 2px 2px #545252;
      font-weight: bold;
    position: absolute;
    width: 100%; 
	z-index:9999;
	display: block;
    margin-left: auto;
    margin-right: auto;">
	<span>For best experience, use desktop view</span>
	</div>

<section class="main-container l-page">
	<div class="row d-md-none" style="height:18px;"></div>
	
	<div class="l-page__header">
		<app-header></app-header>
	</div>
	<div class="l-page__content">
		<router-outlet></router-outlet>
	</div>
</section>
