<section class="l-page__content">
  <div class="l-page__content__inner">

    <app-page-header [heading]="'Create Test from library'" [showHeading]="false" [icon]="'fa-th-list'"></app-page-header>
    <div class="card">
      <div class="card-body">
          <form [formGroup]="cloneTestForm" novalidate (ngSubmit)="onFormSubmit()" class="m-form cloneTestForm" >
            <div class="m-form__fields">
              <div class="form-group">
                  <label class="control-label" for="onlinetest">Available Tests</label>
                  <app-test-input required
                  formControlName="onlineTestId"
                  id="onlinetest"
                  name="onlinetest"
                  (onTestSelect)="onTestSelect($event)">
                  </app-test-input>
                  <div class="text-danger" [hidden]="cloneTestForm.controls.onlineTestId.valid || (cloneTestForm.controls.onlineTestId.pristine && !submitted)">Online test is required and must be valid</div>
              </div>
            </div>
            <!-- <div class="m-form__actions">
              <div class="form-group text-right">
                  <button type="button" class="btn btn-outline-primary" (click)="onCancel()"> Cancel </button>
                  <button type="submit" [disabled]="!cloneTestForm.valid" class="btn btn-primary">Use this test</button>
              </div>
            </div> -->
          </form>
      </div>
    </div>
  </div>
</section>