<div class="l-page l-page--screen bg-banner">
  <div class="container">
      <div class="l-page__header">
          <app-logo [type]="'header-logo'" ></app-logo>
      </div>
      <div class="l-page__content">
          <div class="l-page_content__loading" >
              <div class="card bounceInUp m__test f-14">
                  <div class="card-body p-36">
                      <p class="font-thin f-48 text-primary text-center strong">
                          Please wait...
                      </p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>