<div class="slant-grey-bottom"></div>
<section id="testimonials" class="m-testimonials">
  <div class="container">
      <div class="f-36 text-center strong font-thin">Client <span class="text-primary font-regular">Testimonials</span></div>
      <div class="justify-content-center row">
          <div class="bb-5 wth-50 ht-10">&nbsp;</div>
      </div>

      <ngb-carousel>
        <ng-template ngbSlide   class="animated pulse"  >
          <div class="animated pulse">
            <div class="row align-items-center">
              <div class="col-lg-4">
                <i class="kk-icon kk-icon--testimonial-profile"></i>
              </div>
              <div class="col-lg-8 strong font-thin">
                  <p class="f-14">SkillStack has helped us significantly by reducing time & money of our interview process. We've reduced the number of our introductory interviews by over 60% and that's saying a lot. What has impressed us the most is this tool's ability to test our candidates on actual dev environments, giving us way more insights into the candidate than any other tool in this space we have come across.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 offset-sm-3">
                  <h3 class="text-primary f-24">Raghava Reddy</h3>
                  <span class="texxt-default text-right">CEO, Invimatic LLP</span>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template ngbSlide >
            <div class="animated pulse">
              <div class="row align-items-center">
                <div class="col-lg-4">
                  <i class="kk-icon kk-icon--testimonial-profile"></i>
                </div>
                <div class="col-lg-8 strong font-thin">
                    <p class="f-14">SkillStack has saved us a lot of time & money in zeroing in on the right developers for our various roles. We're now making very good data-driven hiring decisions thanks to SkillStack and highly recommend it to other teams to try.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 offset-lg-3">
                    <h3 class="text-primary f-24">Raj Raman</h3>
                    <span class="texxt-default text-right">Founder & CEO, Clipit.TV</span>
                </div>
              </div>
            </div>
          </ng-template>
      </ngb-carousel>
  </div>
</section>
<div class="slant-grey-top bg-grey"></div>
