<div class="ht-120 slant-dark-bottom bg-white"></div>
<section id="how-it-works" class="bg-secondary">
    <div class="container ">
        <div class="f-36 text-white text-center strong font-thin">How It <span class=" font-regular">works</span></div>
        <div class="justify-content-center row pb-54">
            <div class="bb-5 bb-5--white wth-50 ht-10">&nbsp;</div>
        </div>
        <div class="tab-container">
            <div class="dashed-line"></div>
            <ngb-tabset #t="ngbTabset" [justify]="'around'">
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <span class="tab-title">1</span>
                        <div class="circle w-110x110 rounded-circle position-relative mx-auto">
                            <i class="kk-icon kk-icon--create-circle center_item"></i>
                        </div>
                        <span>Create</span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="paragraph col-lg-6 text-white f-14 pt-54">
                                <div class="heading">
                                    <h5 class="text-left strong text-white f-20">Create Online Tests</h5>
                                    <p class="text-left text-white f-16">in a few clicks </p>
                                </div>
                                <p>Choose a test from our test library</p>
                                <p>Preview your test in your browser</p>
                                <p>Customise as required.</p>
                            </div>
                            <div class="col-lg-6 order-1 order-md-2">
                                <img class="laptop-img" src="/assets/images/how-it-works-comp.png" />
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <span class="tab-title">2</span>
                        <div class="circle w-110x110 rounded-circle position-relative mx-auto">
                            <i class="kk-icon kk-icon--invite-circle center_item"></i>
                        </div>
                        <span>Invite</span>
                    </ng-template>
                    <ng-template ngbTabContent>
                       
                        <div class="row">
                            <div class="paragraph col-lg-6 text-white f-14 pt-54">
                                <div class="heading">
                                    <h5 class="text-left strong text-white f-20">Invite Candidates</h5>
                                    <p class="text-left text-white f-16">to solve your tests </p>
                                </div>
                                <p>Send invites directly from SkillStack</p>
                                <p>Your candidate can take the test anywhere at their convenience</p>
                                <p>Get notified when they have finished the test.</p>
                            </div>
                            <div class="col-lg-6 order-1 order-md-2">
                                <img class="laptop-img" src="/assets/images/how-it-works-comp.png" />
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <span class="tab-title">3</span>
                        <div class="circle w-110x110 rounded-circle position-relative mx-auto">
                            <i class="kk-icon kk-icon--review-circle center_item"></i>
                        </div>
                        <span>Review</span>
                    </ng-template>
                    <ng-template ngbTabContent>
                        
                        <div class="row">
                            <div class="paragraph col-lg-6 text-white f-14 pt-54 ">
                                <div class="heading">
                                    <h5 class="text-left strong text-white f-20">Review Results</h5>
                                    <p class="text-left text-white f-16">to find the best candidates around </p>
                                </div>
                                <p>Review the complete performance report of the candidate</p>
                                <p>Run their code, watch their videos and screen recordings</p>
                                <p>Shortlist or reject.</p>
                            </div>
                            <div class="col-lg-6">
                                <img class="laptop-img" src="/assets/images/how-it-works-comp.png" />
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>    
            </ngb-tabset>
        </div>
    </div>
</section>
<div class="ht-120 slant-dark-top bg-secondary"></div>