<div *ngIf="!_editMode" class="row">
    <div class="col"></div>
    <div class="col-9">
       
    </div>
    <div class="col"></div>
</div>

<div *ngIf="_editMode" class="row">
    <div class="col">
        <ul role="tablist" class="nav nav-tabs mb-0 justify-content-start">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link " [routerLink]="['basic']" role="tab">
                    Basic
                </a>
            </li>
        </ul>
    </div>
</div>
