<div *ngIf="!_editMode" class="row">
    <div class="col"></div>
    <div class="col-9">
        <div class="board">
            <div class="board-inner" id="status-buttons">
                <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                    <!-- circular user icon -->
                    <li>
                        <a routerLink="/challenge/add/basic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="Basic">
                            <span class="round-tabs">
                                1
                            </span>
                            <h5> Description </h5>
                        </a>
                    </li>

                    <!-- circular tasks icon -->
                     <li>
                        <a routerLink="/challenge/add/testcase" routerLinkActive="active" data-toggle="tab" title="Testcase">
                            <span class="round-tabs">
                                2
                            </span>
                            <h5> Testcases </h5>
                        </a>
                    </li>
       
             
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

<div *ngIf="_editMode" _ngcontent-c7="" class="row">
            <div _ngcontent-c7="" class="col-12 col-md-7">
                <h2 _ngcontent-c7="" class="container" style="color:#2E80B7">
              
                {{_testName}}</h2>
            </div>
			</div>
<div *ngIf="_editMode" class="row">
    <div class="col">
        <ul role="tablist" class="nav nav-tabs mb-0 justify-content-start">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link " [routerLink]="['basic']" role="tab">
                    Description
                </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link " [routerLink]="['testcase']" role="tab">
                    Testcases
                </a>
            </li>
  
   
        </ul>
    </div>
</div>
